/* NAV  */

nav.nav-bar.mobile-height {
	height: 150px;
	transition: all 0.3;
}
/*********************/
/* BUTTONS */

.nav-btn {
	display: none;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2em;
	transition: all 0.3s;
}

.back-btn {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.del-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	/* transform: translateY(50%); */
}

button.compose-email {
	position: fixed;
	right: 10px;
	top: 10vh;
}
/* ************************ */

/* email compose */
.email-compose {
	border: 1px solid #acacac;
	background-color: #ebebeb;
	position: fixed;
	z-index: 1;
	width: 65vw;
	height: 50%;
	bottom: 10px;
	right: 10px;
	border-radius: 8px;
	transition: all 0.1s;
}

.email-compose .new-subj {
	width: 80%;
	display: block;
	margin: 10px;
	padding: 0.5em;
}

.email-compose .new-txt {
	max-width: 90%;
	margin: 0px 10px;
	padding: 0.5em;
}

.email-compose .email-cancel {
	position: absolute;
	bottom: 5px;
	right: 70px;
}

.email-compose .email-submit {
	position: absolute;
	bottom: 5px;
	right: 10px;
}
/* ************************** */

.email-app {
	padding: 1em;
}

.email-filter,
.progress-bar {
	color: white;
}

.email-preview {
	background-color: #ebebeb;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	width: 30vw;
	border: 1px solid rgba(100, 100, 100, 0.7);
	border-radius: 5px;
	cursor: pointer;
}

.email-preview .preview-subj {
	overflow: hidden;
	margin: 0;
	max-width: 85%;
	padding-left: 0.5em;
}

.mail-time {
	order: 1;
	align-self: flex-end;
}

.email-details {
	min-height: 30vh;
	margin-left: 1em;
	background-color: #ebebeb;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #206889;
	position: relative;
	border: 1px solid black;
	padding-left: 1em;
	width: 63vw;
	border: 1px solid rgba(100, 100, 100, 0.7);
}

.email-details h2,
.email-details p {
	margin: 10px 0;
	max-width: 95%;
	word-wrap: break-word;
}

.email-details p {
	padding-bottom: 1em;
	margin-bottom: 1em;
}

@media (max-width: 780px) {
	.email-compose {
		position: fixed;
		height: 50vh;
		width: 90vw;
		z-index: 1;
		margin-right: 5px;
	}
	.email-preview {
		overflow: hidden;
		width: 87vw;
		max-height: 10vh;
	}
	.email-list {
		position: relative;
	}
	.email-details {
		position: fixed;
		top: 30vh;
		width: 100%;
		max-width: 90vw;
		max-height: 70vh;
		margin: 0 auto;
		background-color: #ebebeb;
		border: 2px solid rgba(100, 100, 100, 0.7);
		border-radius: 8px;
	}
	nav.nav-bar {
		display: flex;
		flex-direction: column;
		height: 0;
		align-items: center;
		transition: all 0.3s;
	}
	nav.nav-bar > a {
		transform: translateX(-150vw);
		transition: 0.4s;
		margin: 10px 0;
	}
	.triangle {
		display: none;
	}
	.nav-btn {
		display: block;
		position: fixed;
		z-index: 2;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
}
