.del-btn {
	position: absolute;
	right: 3px;
	transform: translateY(30%);
}

.nav-btn {
	display: none;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2em;
	transition: all 0.3s;
}

.nav-btn:hover {
	color: orangered;
}

.email-app {
	height: 100vh;
	padding: 1em;
	background-color: rgba(49, 133, 136, 0.7);
}

.email-preview {
	background-color: rgba(255, 255, 255, 0.6);
	position: relative;
	display: flex;
	padding: 0.1em;
	width: 30vw;
	border: 1px solid rgba(100, 100, 100, 0.7);
	border-radius: 5px;
	cursor: pointer;
}

.email-details {
	margin-left: 1em;
	background-color: #c5dddd;
	position: relative;
	border: 1px solid black;
	padding-left: 1em;
	width: 63vw;
	border: 1px solid rgba(100, 100, 100, 0.7);
}

.email-details h2,
.email-details p {
	margin: 0;
	max-width: 95%;
	word-wrap: break-word;
	margin-bottom: 1em;
}

.email-compose {
	background-color: whitesmoke;
	position: fixed;
	z-index: 1;
	width: 65vw;
	height: 50%;
	bottom: 10px;
	right: 10px;
	border-radius: 10px;
	transition: all 0.1s;
}

.email-compose .new-subj {
	width: 80%;
	display: block;
	margin: 10px;
	padding: 0.5em;
}

.email-compose .new-txt {
	max-width: 90%;
	margin: 0px 10px;
	padding: 0.5em;
}

.email-compose .email-cancel {
	position: absolute;
	bottom: 5px;
	right: 70px;
}

.email-compose .email-submit {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

progress[value] {
	-webkit-appearance: none;
	width: 250px;
	height: 20px;
	transition: all 0.5s;
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	margin: 1em 0;
}

progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(
			-45deg,
			transparent 33%,
			rgba(0, 0, 0, 0.1) 33%,
			rgba(0, 0, 0, 0.1) 66%,
			transparent 66%
		),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
		-webkit-linear-gradient(left, #09c, #f44);
	border-radius: 2px;
	background-size: 35px 20px, 100% 100%, 100% 100%;
}

.email-preview .preview {
	overflow: hidden;
	margin: 0;
	max-width: 85%;
}
@media (max-width: 780px) {
	.email-compose {
		position: fixed;
		height: 50vh;
		width: 90vw;
		z-index: 1;
		margin-right: 5px;
	}
	.email-preview {
		text-overflow: hidden;
		width: 90vw;
		max-height: 10vh;
	}
	.email-list {
		position: relative;
	}
	.email-details {
		border: 2px solid rgba(100, 100, 100, 0.7);
		border-radius: 7px;
		position: fixed;
		background-color: #c5dddd;
		max-width: 90vw;
		width: 100%;
		margin: 0 auto;
		height: 80vh;
		top: 30vh;
	}
	.nav-bar a {
		transform: translateX(-150vw);
		display: flex;
		flex-direction: column;
	}
	.triangle {
		display: none;
	}
	.nav-btn {
		display: block;
		position: absolute;
		right: 20px;
		top: 10px;
		cursor: pointer;
	}
}
