@import 'helpers.css';
@import 'notes-style.css';
@import 'email-styles.css';
@import 'triangle.css';

* {
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

body,
html {
	background-color: #35495e;
	margin: 0;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
}

.nav-bar {
	position: relative;
	height: 10vh;
	/* background-color: #206889; */
	background-color: #35495e;
	border-bottom: inset 2px white;
	text-align: center;
}

.nav-bar a {
	font-size: 2em;
	color: white;
	margin: 0 10px;
}

.nav-bar a span {
	transition: all 0.4s;
}

.nav-bar a span:first-child:hover {
	transform: scale(1.1);
	color: #41b883;
}

.nav-bar .menu-display {
	transform: translateX(0);
	transition: 0.4s;
}
