@import 'helpers.css';
@import 'notes-style.css';

@import 'email-styles.css';

* {
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}


body,html{
	margin: 0;
	height: 100vh;
}